.save-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 2px;
  border-width: 0;
  background: #000000;
  color: #FFFFFF;
  padding: 0;
  min-height: 50px;
  margin: 48px 0 0;
}

.save-button:hover {
  opacity: 80%;
}
