.element__icon {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: none;
  overflow: hidden;
  padding: 0;
  min-width: 22px;
  height: 19px;
}

.element__icon:hover {
  opacity: 60%;
  cursor: pointer;
}

.element__icon:focus {
  opacity: 60%;
}
